In [ ]:
https://www.kaggle.com/yassineghouzam/titanic-top-4-with-ensemble-modeling

# Titanic Top 4% with ensemble modeling

## 1. import

In [1]:
!pip install matplotlib
!pip install seaborn
!pip install -U scikit-learn

Requirement already satisfied: matplotlib in d:\tool\anaconda3\envs\kaggle\lib\site-packages (3.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.15 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from matplotlib) (1.19.1)
Requirement already satisfied: python-dateutil>=2.1 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from matplotlib) (7.2.0)
Requirement already satisfied: certifi>=2020.06.20 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: six in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Collecting seaborn
  Downloading seaborn-0.10.1-py3-none-any.whl (215 kB)
Requirement already satisfied: matplotlib>=2.1.2 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from seaborn) (3.3.1)
Collecting scipy>=1.0.1
  Downloading scipy-1.5.2-cp37-cp37m-win_amd64.whl (31.2 MB)
Collecting pandas>=0.22.0
  Downloading pandas-1.1.0-cp37-cp37m-win_amd64.whl (9.4 MB)
Requirement already satisfied: numpy>=1.13.3 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from seaborn) (1.19.1)
Requirement already satisfied: cycler>=0.10 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from matplotlib>=2.1.2->seaborn) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from matplotlib>=2.1.2->seaborn) (7.2.0)
Requirement already satisfied: certifi>=2020.06.20 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from matplotlib>=2.1.2->seaborn) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from matplotlib>=2.1.2->seaborn) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from matplotlib>=2.1.2->seaborn) (2.4.7)
Collecting pytz>=2017.2
  Using cached pytz-2020.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: six in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from cycler>=0.10->matplotlib>=2.1.2->seaborn) (1.15.0)
Installing collected packages: scipy, pytz, pandas, seaborn
Successfully installed pandas-1.1.0 pytz-2020.1 scipy-1.5.2 seaborn-0.10.1
Collecting scikit-learn
  Downloading scikit_learn-0.23.2-cp37-cp37m-win_amd64.whl (6.8 MB)
Collecting joblib>=0.11
  Using cached joblib-0.16.0-py3-none-any.whl (300 kB)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from scikit-learn) (1.19.1)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Installing collected packages: joblib, threadpoolctl, scikit-learn
Successfully installed joblib-0.16.0 scikit-learn-0.23.2 threadpoolctl-2.1.0

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from collections import Counter

from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier, VotingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC

from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold, learning_curve

sns.set(style='white', context='notebook', palette='deep')

## 2. load and check data

### 2.1 Load data

In [6]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.6.tar.gz (58 kB)
Collecting urllib3<1.25,>=1.21.1
  Downloading urllib3-1.24.3-py2.py3-none-any.whl (118 kB)
Requirement already satisfied: six>=1.10 in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in d:\tool\anaconda3\envs\kaggle\lib\site-packages (from kaggle) (2.8.1)
Collecting requests
  Using cached requests-2.24.0-py2.py3-none-any.whl (61 kB)
Collecting tqdm
  Downloading tqdm-4.48.2-py2.py3-none-any.whl (68 kB)
Collecting python-slugify
  Downloading python-slugify-4.0.1.tar.gz (11 kB)
Collecting idna<3,>=2.5
  Using cached idna-2.10-py2.py3-none-any.whl (58 kB)
Collecting chardet<4,>=3.0.2
  Using cached chardet-3.0.4-py2.py3-none-any.whl (133 kB)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Building wheels for collected packages: kaggle, python-slugify
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.6-py3-none-any.whl size=72862 sha256=19d050bd0c1f597b7def28077408eaa74e393c49fd4779b69a2459d95c8164ad
  Stored in directory: c:\users\박성민\appdata\local\pip\cache\wheels\aa\e7\e7\eb3c3d514c33294d77ddd5a856bdd58dc9c1fabbed59a02a2b
  Building wheel for python-slugify (setup.py): started
  Building wheel for python-slugify (setup.py): finished with status 'done'
  Created wheel for python-slugify: filename=python_slugify-4.0.1-py2.py3-none-any.whl size=6774 sha256=137e04d52db3ba56247595b8b0d8036b611114fd6712ba028af667877592fd1d
  Stored in directory: c:\users\박성민\appdata\local\pip\cache\wheels\48\1b\6f\5c1cfab22eacbe0095fc619786da6571b55253653c71324b5c
Successfully built kaggle python-slugify
Installing collected packages: urllib3, idna, chardet, requests, tqdm, text-unidecode, python-slugify, kaggle
Successfully installed chardet-3.0.4 idna-2.10 kaggle-1.5.6 python-slugify-4.0.1 requests-2.24.0 text-unidecode-1.3 tqdm-4.48.2 urllib3-1.24.3

### 2.2 use kaggle api : https://shakeratos.tistory.com/34

In [9]:
# !kaggle competitions download -c titanic

# 403 - Forbidden

403 - Forbidden

In [10]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
IDtest = test["PassengerId"]

### 2.3 Outlier detection

In [13]:
# Outlier detection

def detect_outliers(df, n, features):
    

    outlier_indices = []
    
    # iterate over columns
    for col in features:
        # 1st quartile 25%
        Q1 = np.percentile(df[col], 25)
        # 3rd quartile 75%
        Q3 = np.percentile(df[col], 75)
        # Interquartile range (IQR)
        IQR = Q3 - Q1
        
        # outlier step
        outlier_step = 1.5 * IQR
        
        # Determine a list of indices of outliers for feature col
        outlier_list_col = df[(df[col] < Q1 - outlier_step) | (df[col] > Q3 + outlier_step)].index
        
        # append the found outlier indices for col to the list of outlier indices 
        outlier_indices.extend(outlier_list_col)
    
    # select observations containing more than 2 outliers
    outlier_indices = Counter(outlier_indices)
    multiple_outliers = list( k for k, v in outlier_indices.items() if v > n)
    
    return multiple_outliers

Outliers_to_drop = detect_outliers(train, 2, ['Age','SibSp', 'Parch', 'Fare'])

- np.percentile()   
https://datascienceschool.net/view-notebook/1ce4880f58504891b8ab8550fe894a51/#%EC%82%AC%EB%B6%84%EC%9C%84%EC%88%98

- IQR   
https://drhongdatanote.tistory.com/30

- Tukey method (Tukey JW., 1977) to detect ouliers

    detect ouliers which defines an interquartile range comprised between the 1st and 3rd quartile of the distribution values (IQR)

    An outlier is a row that have a feature value outside the (IQR +- an outlier step).


- 최소 2개이상 outlied 숫자 값을 가진 rows를 outliers로 정의

In [14]:
train.loc[Outliers_to_drop]  # Show the outliers rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.00,C23 C25 C27,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.00,C23 C25 C27,S
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.55,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.55,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.55,NaN,S
324,325,0,3,"Sage, Mr. George John Jr",male,NaN,8,2,CA. 2343,69.55,NaN,S
341,342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0,3,2,19950,263.00,C23 C25 C27,S
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,8,2,CA. 2343,69.55,NaN,S
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.55,NaN,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.55,NaN,S